.container {
  display: flex;
  width: 100%;
  gap: 6px;
  padding: 8px 12px 12px;
  position: relative;
}

button {
  width: 100%;
  padding: 8px 0;
  background: #f1f1f1;
  border: 1px solid rgba(149, 149, 149, 0.5);
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.02);
  border-radius: 26px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

button img {
  width: 24px;
}

.datePicker {
  position: absolute;
  right: 20px;
  bottom: 64px;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
}
