.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.icon {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.title {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #969696;
  margin-bottom: 8px;
}

.description {
  color: #a3a3a3;
  text-align: center;
}
