.container {
  background: #12b886;
  border-radius: 11px;
  padding: 16px 12px;
  min-height: 120px;
  margin: 12px 12px 12px 18px;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.wordContainer {
  font-weight: 600;
  gap: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.body {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
}

.readMore {
  text-decoration: underline;
  margin-left: 6px;
  cursor: pointer;
}

.soundIcon {
  width: 18px;
  opacity: 0.7;
  cursor: pointer;
}

.soundIcon:hover,
.soundIcon.active {
  opacity: 1;
}
